@import "tailwindcss";

@theme {
  --color-primary: #16439c;
  --color-background-light: #f6f6f8;
  --color-background-dark: #111621;
  --font-display: "Inter", "sans-serif";
  --radius-DEFAULT: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  min-height: max(884px, 100dvh);
}
